{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/galmiairways/js/index.js') }}"></script>
{% endblock %}

{% block body %}
    <h4 class="header center orange-text">{{ "404 Page not found" | trans }}</h4>
{% endblock %}
